body {
    background-color: #e5e5f7 !important;
    opacity: 0.8 !important;
    background-image: linear-gradient(to right, #25d8af 0%, #e5e5f7 100%) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
