body {
    background-image: url('css-pattern-by-magicpattern.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important; /* This will make the background image fixed when scrolling */
}
